rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function hasEmail(request) {
        return request.auth.token.email != null;
    }
    function isAdmin(organization) {
      // Given an organization name retrieve it from firestore
      // and check if the currently logged in user is part of the admin
      // array in that document. If they are return true.
      let org = get(/databases/$(database)/documents/organizations/$(organization));
      return request.auth != null && (
          (request.auth.token.phone_number != null && request.auth.token.phone_number in org.data.admins)
          ||
          (hasEmail(request) && request.auth.token.email in org.data.admins)
      )
    }
    match /organizations/{organization}/{document=**} {
      allow read, write: if isAdmin(organization);
    }
    match /organizations/{organization}/bookings/{secret_key}/{document=**} {
      allow read, write: if true;
    }
    match /organizations/{organization}/slotsByDay/{document=**} {
      allow read: if true;
    }
  }
}
